@model TransactionModel
<form asp-controller="Transaction" asp-action="Details" method="get">
    <div class="card">
        <div class="card-header">
            @Localizer["Properties"]
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label  class="col-sm-3 col-form-label">Número Pedido</label>
                <div class="col-sm-9">
                    <input asp-for="id"   class="form-control" autofocus />
                    <span asp-validation-for="TransactionType"></span>
                </div>
            </div>
        
            <button class="btn btn-primary" type="submit">@Localizer["Search"]</button>
        </div>
    </div>
</form>