@{
    ViewData["Title"] = Localizer["Title"];
  
}
<div class="row">
    <div class="col-sm-6">
        <partial name="_SearchPropertyPartial" />
    </div>
    
</div>

    <div class="card">
    
        <div class="card-body">
            
        </div>
    </div>
